@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

#title-slide {
  font-size: 25px!important;
  background-size: 50% 50%;
}

#title-slide h2 {
  font-size: 2.3em!important;
  /* color: #562457; */
}

.speech {
 font-family: 'Yanone Kaffeesatz';
}

.title-box {
  background-color: white;
  padding: 25px;
  border: 5px solid black;
  text-align: center;
  width: 80%;
  margin-left: 5em;
  margin-top: 15em;
  opacity: 0.75;
}

.strokeme {
  color: #562457;
  position: absolute;
  left: 100px;
  bottom: 150px;
}


.monash-color-blue {
  color: "#006DAE"!important;
}

.slide-number:first-child {
  display:none!important;
}


h2 {
  display: block;
  color: #562457;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


/* .reveal .footer {
  background-color: rgba(0, 255, 255, 0.8);
  font-size: 0.5em !important;
  padding-top: 10px;
  padding-bottom: 10px;
} */


.cite-compact {
  vertical-align:middle;
}

.box {
  margin-top: 10px;
  margin-right: 10px;
  border: 5px solid #562457;
  padding: 10px;
  font-size: 30px;
  background-color: #FFFFFF;
  opacity: 0.7;
}

.yellow {
  color: #fed75a;
}

.small {
  font-size: 0.8em;
}

.large {
  font-size: 1.2em;
}

.location {
  font-size: 0.8em;
}

.scroll {
  overflow: scroll;
}

.h4 {  height: 400px; }
.h5 {  height: 500px; }
.h-80 { height: 80%; }
.h-100 { height: 100%; }

.font-small {
  font-size: 1.2rem;
}



.fa-ul {
    list-style-type: none!important;
    margin-left: var(--fa-li-margin, 2.5em)!important;
    padding-left: 0!important;
}



.story {
  background-color: black;
  color: #562457;
  font-size: 0.3em;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: middle;
}


#title-slide {
  text-align: left;
  background-image: "images/tree_bg.png";
  background-size: 50%;
}


.reveal .slide blockquote {
	font-weight: 100;
	font-size: 3rem;
	max-width: 1000px;
	line-height: 1.4;
	position: relative;
	margin: auto;
	padding: .5rem;
	border-left-width: 0;
}

.cite-compact {
  vertical-align:middle;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #562457;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}




.content__container__list {
  margin: 0!important;
  text-align: center!important;
  list-style: none!important;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 1.2em;
  margin: 0!important;
}


@-webkit-keyframes change,  {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -1.2em, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -2.4em, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -3.6em, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -2.4em, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -1.2em, 0);
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}



.img-hor {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}




ol {
  counter-reset: li;
  list-style-type: none!important;
  font-size: 1em;
  line-height: 1.2em;
  padding-left: 10px;
}
ol li {
  position: relative;
  padding: 5px 0 5px 1.5em;
}
ol li:before {
  content: counter(li);
  counter-increment: li;
  margin-top: 0.0em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  background-color: #006DAE;
  border-radius: 50%;
  color: #562457;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 4px;
}

#Graphic_105 {
  -webkit-animation-name: messageA;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: messageA;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@-webkit-keyframes messageA,  {
  10% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(8em, -3em, 0) rotate(45deg);
    opacity: 1;
  }
}
@keyframes messageA {
  10% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(8em, -3em, 0) rotate(45deg);
    opacity: 1;
  }
}

#Graphic_106 {
  -webkit-animation-name: messageB;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: messageB;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@-webkit-keyframes messageB,  {
  30% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  90%,100% {
    transform: translate3d(-1em, -5em, 0) rotate(45deg);
    opacity: 1;
  }
}
@keyframes messageB {
  30% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  90%,100% {
    transform: translate3d(-1em, -5em, 0) rotate(45deg);
    opacity: 1;
  }
}

.control-diet, .sugar-diet, .fat-diet {
  background: #4477AA;
  padding: 5px;
  color: #562457;
  margin: 5px;
  text-align: center;
  width: 300px;
}

.fat-diet { background: #AA3377; }
.sugar-diet { background: #CCBB44; }


.blue { color: #6C9AC3; }
.orange { color: #E28F41; }

/* ---------- FOOTERS / CITATIONS ---------- */
.reveal section .footer,
.reveal section .slide-footer {
  font-size: 0.9rem;          /* screen */
  color: #222 !important;
  opacity: 1 !important;
}

.footer,
.slide-footer {
  font-size: 0.9rem;
  color: #222;
  line-height: 1.2;
  background: rgba(255, 255, 255, 0.9);
  padding: 2pt 4pt;
  border-top: 1px solid #ddd;
  margin: 0.5em 0;
}

@media print {
  .reveal section .footer,
  .reveal section .slide-footer,
  .footer,
  .slide-footer {
    font-size: 10pt;          /* PDF */
    line-height: 1.2;
    color: #000 !important;
    background: rgba(255,255,255,0.92);
    padding: 2pt 4pt;
    border-radius: 3pt;
    position: absolute;       /* keep inside page box */
    left: 20pt;
    right: 20pt;
    bottom: 14pt;
  }
  .reveal .slide-number { color: #000 !important; }
}
